<div class="bg-color-idea-1 height-div-idea height-div-user-mob-1">
  <div class="row padding-top-5p">
    <div class="hide-for-small-only column large-1">
      <%= image_tag(image_path_for('picto_user_org.png'), class: 'margin-left-40-user', width: '70x70', alt: t("layouts.header.logo")) %>
    </div>
    <div class="column large-4 margin-text-login">
      <p class="font-color-idea font-style-login">
        Ingreso
      </p>
    </div>
    <div class="show-for-small-only column small-8 border-text-ideas margin-text-user-div-2 padding-left-0">
      <p class="p-ideas-div-2 font-size-user-div-2">
        Características de cada nivel
      </p>
    </div>
  </div>
</div>
<div class="row max-width-100 bg-color-idea-2 height-div-idea height-div-user-mob-2">
  <div class="hide-for-small-only column small-3 large-2 border-text-ideas margin-text-user-div-2 padding-left-0">
    <p class="p-ideas-div-2 font-size-user-div-2">
      Características de cada nivel
    </p>
  </div>
  <div class="column small-5 width-table-mob large-3 margin-left-70 margin-table-left-user">
    <table class="iduru-color">
      <tbody>
        <tr class="tr-light-gray">
          <td colspan="2" class="no-padding-top">
            <div class='style-nivel-user font-color-idea'>
              <p class="font-size-30">Usuario</p>
              <p class="font-size-30">Nivel UNO</p>
            </div>
          </td>
        </tr>
        <tr class="tr-light-gray">
          <td></td>
          <td class="">
            <strong>
              DEBATES
            </strong>
          </td>
        </tr>
        <tr class="tr-dark-gray">
          <td>
            <span class="checkmark">
              <div class="checkmark_circle"></div>
              <div class="checkmark_stem"></div>
              <div class="checkmark_kick"></div>
            </span>
          </td>
          <td class="text-left">Comentar los debates</td>
        </tr>
        <tr class="tr-light-gray">
          <td>
            <span class="checkmark">
              <div class="checkmark_circle"></div>
              <div class="checkmark_stem"></div>
              <div class="checkmark_kick"></div>
            </span>
          </td>
          <td class="text-left">Apoyar debates</td>
        </tr>
        <tr class="tr-dark-gray">
          <td colspan="2" class="height-td-user-table"></td>
        </tr>
        <tr class="tr-light-gray">
          <td></td>
          <td>
            <strong>IDEAS</strong>
          </td>
        </tr>
        <tr class="tr-dark-gray">
          <td>
            <span class="checkmark">
              <div class="checkmark_circle"></div>
              <div class="checkmark_stem"></div>
              <div class="checkmark_kick"></div>
            </span>
          </td>
          <td class="text-left">Proponer idea</td>
        </tr>
        <tr class="tr-light-gray">
          <td>
            <div class="check-x"></div>
          </td>
          <td class="text-left">Apoyar una idea</td>
        </tr>
        <tr class="tr-dark-gray">
          <td>
            <div class="check-x"></div>
          </td>
          <td class="text-left">Votar una idea</td>
        </tr>
        <tr class="table-bar">
          <td colspan="2" class="height-td-user-table height-td-user-table-mob"></td>
        </tr>
        <tr class="tr-light-gray">
          <td></td>
          <td class="" >
            <strong>CONSULTAS</strong>
          </td>
        </tr>
        <tr class="tr-dark-gray">
          <td>
            <div class="check-x"></div>
          </td>
          <td class="text-left">Decide sobre consultas</td>
        </tr>
        <tr class="table-bar">
          <td colspan="2" class="height-td-user-table no-padding">
            <div class="column large-6 bottom-left">

            </div>
            <div class="column large-6">

            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="column small-5 width-table-mob large-3 margin-table-user margin-table-right-user">
    <table class="iduru-color">
      <tbody>
        <tr class="tr-light-gray">
          <td colspan="2" class="no-padding-top">
            <div class='style-nivel-user font-color-idea'>
              <p class="font-size-30">Usuario</p>
              <p class="font-size-30">Nivel DOS</p>
            </div>
          </td>
        </tr>
        <tr class="tr-light-gray">
          <td></td>
          <td class="">
            <strong>
              DEBATES
            </strong>
          </td>
        </tr>
        <tr class="tr-dark-gray">
          <td>
            <span class="checkmark">
              <div class="checkmark_circle"></div>
              <div class="checkmark_stem"></div>
              <div class="checkmark_kick"></div>
            </span>
          </td>
          <td class="text-left">Comentar los debates</td>
        </tr>
        <tr class="tr-light-gray">
          <td>
            <span class="checkmark">
              <div class="checkmark_circle"></div>
              <div class="checkmark_stem"></div>
              <div class="checkmark_kick"></div>
            </span>
          </td>
          <td class="text-left">Apoyar debates</td>
        </tr>
        <tr class="tr-dark-gray">
          <td colspan="2" class="height-td-user-table"></td>
        </tr>
        <tr class="tr-light-gray">
          <td></td>
          <td class="" >
            <strong>IDEAS</strong>
          </td>
        </tr>
        <tr class="tr-dark-gray">
          <td>
            <span class="checkmark">
              <div class="checkmark_circle"></div>
              <div class="checkmark_stem"></div>
              <div class="checkmark_kick"></div>
            </span>
          </td>
          <td class="text-left">Proponer idea</td>
        </tr>
        <tr class="tr-light-gray">
          <td>
            <span class="checkmark">
              <div class="checkmark_circle"></div>
              <div class="checkmark_stem"></div>
              <div class="checkmark_kick"></div>
            </span>
          </td>
          <td class="text-left">Apoyar una idea</td>
        </tr>
        <tr class="tr-dark-gray">
          <td>
            <span class="checkmark">
              <div class="checkmark_circle"></div>
              <div class="checkmark_stem"></div>
              <div class="checkmark_kick"></div>
            </span>
          </td>
          <td class="text-left">Votar una idea</td>
        </tr>
        <tr class="table-bar">
          <td colspan="2" class="height-td-user-table"></td>
        </tr>
        <tr class="tr-light-gray">
          <td></td>
          <td class="" >
            <strong>CONSULTAS</strong>
          </td>
        </tr>
        <tr class="tr-dark-gray">
          <td>
            <span class="checkmark">
              <div class="checkmark_circle"></div>
              <div class="checkmark_stem"></div>
              <div class="checkmark_kick"></div>
            </span>
          </td>
          <td class="text-left">Decide sobre consultas</td>
        </tr>
      </tbody>
    </table>
    <% if params[:login_admin] %>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="row">
        <div class="small-12 column">
          <%= f.text_field :login, autofocus: true, placeholder: t("devise_views.sessions.new.login_label") %>
        </div>

        <div class="small-12 column">
          <%= f.password_field :password, autocomplete: "off", placeholder: t("devise_views.sessions.new.password_label") %>
          <%= link_to t("devise_views.shared.links.new_password"), new_password_path(resource_name), class: "float-right" %>
        </div>

        <% if devise_mapping.rememberable? -%>
          <div class="small-12 column">
            <%= f.label :remember_me do %>
              <%= f.check_box :remember_me, title: t('devise_views.sessions.new.remember_me'), label: false %>
              <span class="checkbox"><%= t("devise_views.sessions.new.remember_me") %></span>
            <% end %>
          </div>
        <% end -%>

        <div class="small-12 medium-6 small-centered">
          <%= f.submit(t("devise_views.sessions.new.submit"), class: "button expanded") %>
        </div>
      </div>
    <% end %>
  <% end %>
  </div>

</div>
<div class="height-div-idea-2">
</div>
<div class="height-div-idea">
</div>

