<% unless can?(:answer, @poll) %>
  <% if current_user.nil? %>
    <div class="callout primary">
      <%= t("polls.show.cant_answer_not_logged_in",
            signin: link_to(t("polls.show.signin"), user_omniauth_authorize_path(:saml), class: "probe-message"),
            signup: link_to("registrate", '#', data: {open: 'registration_modal'},
                    title: "registrate", class: "probe-message")).html_safe %>
    </div>
  <% elsif @poll.incoming? %>
    <div class="callout primary">
      <%= t('polls.show.cant_answer_incoming') %>
    </div>
  <% elsif @poll.expired? %>
    <div class="callout alert">
      <%= t('polls.show.cant_answer_expired') %>
    </div>
  <% elsif !@poll.validate_permission(current_user) %>
    <div class="callout warning">
      Esta votación solo puede ser apoyada por usuarios con <%= t("admin.polls.new.level_#{@poll.access_level}") %>. Si ya contás con el usuario <%= link_to("ingresá aquí", user_omniauth_authorize_path(:saml), title: "ingresá aquí") %>, o de lo contrario <%= link_to('registrate', '#', data: {open: 'registration_modal'} ,title: "registrate") %>
      </div>
  <% else %>
    <div class="callout warning">
      <%= t('polls.show.cant_answer_wrong_geozone') %>
    </div>
  <% end %>
<% end %>
