<% provide :title do %><%= t("polls.index.title") %><% end %>
<% content_for :canonical do %>
  <%= render "shared/canonical", href: polls_url %>
<% end %>
<% if session[current_user.id.to_s].blank? %>
  <div class="row-for-banners">
    <div class="box ">
      <%= image_tag(image_path_for('pages-header.jpg'), class: 'float-center margin-bottom banner-img', width: '100%', alt: t("layouts.header.logo")) %>
        <div class="column box-text">
          <h2 class="banner-title inline-h-0 font-size-poll-banner">Votá las ideas propuestas para tu ciudad</h2>
        </div>
    </div>
  </div>
<% end %>
<% if session[current_user.id.to_s].blank? %>
  <div class="row">
<% else %>
  <div class="row padding-btn-banner-vote">
<% end %>
  <div class="proposals-list small-12 medium-9 column">
    <%= render 'shared/filter_subnav', i18n_namespace: "polls.index" %>

    <% polls_by_geozone_restriction = @polls.group_by(&:geozone_restricted) %>

    <% if polls_by_geozone_restriction[false].present? %>
      <h3 class="section-title-divider">
        <span><%= t("polls.index.no_geozone_restricted") %></span>
      </h3>
      <%= render partial: 'poll_group', locals: {poll_group: polls_by_geozone_restriction[false]} %>
    <% end %>

    <% if polls_by_geozone_restriction[true].present? %>
      <h3 class="section-title-divider">
        <span><%= t("polls.index.geozone_restricted") %></span>
      </h3>
      <%= render partial: 'poll_group', locals: {poll_group: polls_by_geozone_restriction[true]} %>
    <% end %>

    <%= paginate @polls %>

  </div>

  <div class="small-12 medium-3 column padding-top-30">
    <div id="section_help" class="margin" data-magellan-target="section_help">
      <p class="lead">
        <strong><%= t("polls.index.section_footer.title") %></strong>
      </p>
      <p><%= t("polls.index.section_footer.description") %></p>
      <p><%= t("polls.index.section_footer.help_text_1") %></p>
      <p><%= t("polls.index.section_footer.help_text_2") %></p>
    </div>
  </div>
</div>
