<% provide :title do %><%= t("polls.index.title") %><% end %>
<% content_for :canonical do %>
  <%= render "shared/canonical", href: polls_url %>
<% end %>
<% if ((current_user.blank?) || (!current_user.blank? && session[current_user.id.to_s].blank?)) %>
  <div class="row-for-banners">
    <div class="box banner-box">
      <%= image_tag(image_path_for('banner-general.png'), class: 'banner-image float-center margin-bottom banner-img', width: '100%', alt: t("layouts.header.logo")) %>
      <div class="box-text general-box-text">
        <div class="row">
          <h2 class="banner-title general-banner-title column small-12 inline-h-0">Votaciones</h2>
        </div>
      </div>
    </div>
  </div>
<% end %>
<% if ((current_user.blank?) || (!current_user.blank? && session[current_user.id.to_s].blank?)) %>
  <div class="row">
<% else %>
  <div class="row padding-btn-banner-vote">
<% end %>
  <div class="proposals-list small-12 medium-9 column">
    <%= render 'shared/filter_subnav', i18n_namespace: "polls.index" %>
    <% unless @public_consultations.empty? %>
      <h3 class="section-title-divider">
        <span>Consulta Ciudadana</span>
      </h3>
      <%= render partial: 'poll_group', locals: {polls: @public_consultations} %>
    <% end %>

    <% unless @polls.empty? %>
      <h3 class="section-title-divider">
        <span>Ideas</span>
      </h3>
      <%= render partial: 'poll_group', locals: {polls: @polls} %>
      <%= paginate @polls %>
    <% end %>

  </div>

  <div class="small-12 medium-3 column padding-top-30">
    <div id="section_help" class="margin" data-magellan-target="section_help">
      <p class="lead">
        <strong><%= t("polls.index.section_footer.title") %></strong>
      </p>
      <p><%= t("polls.index.section_footer.description") %></p>
      <p><%= t("polls.index.section_footer.help_text_1") %></p>
      <p><%= t("polls.index.section_footer.help_text_2") %></p>
      <p><%= t("polls.index.section_footer.help_text_3") %></p>
    </div>
  </div>
</div>
