<%= form_for(Proposal.new, url: url, as: :proposal, method: :get) do |f| %>
  <div class='row'>
    <div class="small-12 medium-6 large-12 column">
      <label for="search">
        <%= t("shared.proposal_search.general") %>
      </label>
      <%= text_field_tag "search", params[:search], placeholder: t("shared.proposal_search.placeholder") %>
    </div>
    <div class="small-12 medium-6 column">
      <label for="js-advanced-search-date-min"><%= t("shared.proposal_search.start_date") %></label>
      <%= text_field_tag 'start_date',
          params[:start_date],
          autocomplete: "off",
          class: 'js-calendar' %>
    </div>
    <div class="small-12 medium-6 column">
      <label for="js-advanced-search-date-min"><%= t("shared.proposal_search.end_date") %></label>
      <%= text_field_tag 'end_date',
          params[:end_date],
          autocomplete: "off",
          class: 'js-calendar' %>
    </div>
    <div class="small-12 medium-6 column">
      <label for="js-advanced-search-date-min"><%= t("shared.proposal_search.status") %></label>
      <%= select_tag :status, options_for_select(options_status_proposal_search, params[:status]),
                   { label: false,
                     include_blank: 'selecciona el estado',
                     class: 'height-status-search' } %>
    </div>

    <div class="small-12 medium-3 column end clear">
      <%= submit_tag t("shared.advanced_search.search"), class: 'button expanded', data: { loading: 'Filtrar'} %>
    </div>
  </div>
<% end %>
