<div class='small-12 medium-9 proposal-state-data'>
  <% if proposal.archived? %>
    <h5> IDEA ARCHIVADA</h5>
    <% if proposal.manually_archived? %>
      <%= form_tag pending_management_proposal_path(proposal) do %>
        <h5>Pasar a pendiente</h5>
        <%= submit_tag 'Pasar a pendiente'%>
      <% end %>
    <% end %>
  <% elsif proposal.votes_pre_successful? %>
    <%= form_tag approve_management_proposal_path(proposal) do %>
      <h5>Aprobar Idea</h5>
      <%= label_tag "Motivo de aprobación URL", "Motivo de aprobación(URL):"%>
      <%= text_field_tag :link_success %>
      <%= label_tag "Texto que aparecerá al los usuarios al acceder a la propuesta(No obligatorio)"%>
      <%= text_field_tag :text_show_finished %>
      <%= submit_tag 'Aprobar'%>
    <% end %>
    <br>
    <%= form_tag approve_threshold_management_proposal_path(proposal) do %>
      <h5>Pre Aprobar Idea</h5>
      <%= label_tag "Apoyos necesarios para aprobar idea", "Apoyos necesario para aprobar idea:"%>
      <%= number_field_tag :votes_for_success %>
      <%= submit_tag 'Pre-Aprobar'%>
    <% end %>
    <br>
    <%= form_tag not_approve_management_proposal_path(proposal) do %>
      <h5>No aprobar idea</h5>
      <%= label_tag "Motivo de NO aprobación URL", "Motivo de NO aprobación(URL):"%>
      <%= text_field_tag :link_not_success %>
      <%= label_tag "Texto que aparecerá al los usuarios al acceder a la propuesta(No obligatorio)"%>
      <%= text_field_tag :text_show_finished %>
      <%= submit_tag 'No aprobar'%>
    <% end %>
    <br>
    <%= form_tag pending_management_proposal_path(proposal) do %>
      <h5>Pasar a pendiente</h5>
      <%= submit_tag 'Pasar a pendiente'%>
    <% end %>
    <%= form_tag archived_management_proposal_path(proposal) do %>
      <h5>Pasar a archivada</h5>
      <%= submit_tag 'Pasar a archivada'%>
    <% end %>
  <% else %>
    <% unless proposal.open? %>
      <%= form_tag pending_management_proposal_path(proposal) do %>
        <h5>Pasar a pendiente</h5>
        <%= submit_tag 'Pasar a pendiente'%>
      <% end %>
    <% end %>
    <br>
    <%= form_tag archived_management_proposal_path(proposal) do %>
      <h5>Pasar a archivada</h5>
      <%= submit_tag 'Pasar a archivada'%>
    <% end %>
    <%= form_tag not_approve_management_proposal_path(proposal) do %>
      <h5>No aprobar idea</h5>
      <%= label_tag "Motivo de no aprobación URL", "Motivo de no aprobación(URL):"%>
      <%= text_field_tag :link_not_success %>
      <%= label_tag "Texto que aparecerá al los usuarios al acceder a la propuesta(No obligatorio)"%>
      <%= text_field_tag :text_show_finished %>
      <%= submit_tag 'No aprobar'%>
    <% end %>
  <% end %>
  <p>Estado actual: <%= proposal.state_text %></p>
  <% if proposal.not_successful? && !proposal.link_not_success.blank?%>
    <p>Motivo de no aprobación URL: <%= link_to 'Link de NO Aprobación', proposal.link_not_success, target: '_blank'%></p>
  <% end %>
  <p>Apoyos requeridos: <%= proposal.votes_for_success.to_s %></pr>
  <p>Apoyos recibidos: <%= proposal.total_votes.to_s %></pr>
  <% unless proposal.link_success.blank? %>
    <p>URL de aprobación: <%= link_to 'Link de aprobación', proposal.link_success, target: '_blank'%></pr>
  <% end %>
  <% unless proposal.text_show_finished.blank? %>
    <p>Texto que aparecerá al los usuarios al acceder a la propuesta: <%= proposal.text_show_finished.to_s %></pr>
  <% end %>

</div>
