<div class='small-12 medium-9 proposal-state-data'>
  <% if proposal.archived? %>
    <h5> IDEA ARCHIVADA</h5>
  <% elsif proposal.votes_pre_successful? %>
    <%= form_tag approve_management_proposal_path(proposal) do %>
      <h5>Aprobar Idea</h5>
      <%= submit_tag 'Aprobar'%>
    <% end %>
    <br>
    <%= form_tag approve_threshold_management_proposal_path(proposal) do %>
      <h5>Pre Aprobar Idea</h5>
      <%= label_tag "Apoyos necesarios para aprobar idea:", "Apoyos necesario para aprobar idea:"%>
      <%= text_field_tag :votes_for_success %>
      <%= submit_tag 'Pre-Aprobar'%>
    <% end %>
    <br>
    <%= form_tag not_approve_management_proposal_path(proposal) do %>
      <h5>No aprobar idea</h5>
      <%= submit_tag 'No aprobar'%>
    <% end %>
    <br>
    <%= form_tag pending_management_proposal_path(proposal) do %>
      <h5>Pasar a pendiente</h5>
      <%= submit_tag 'Pasar a pendiente'%>
    <% end %>
  <% end %>
  <p>Estado actual: <%= proposal.state_text %></p>
  <p>Apoyos requeridos: <%= proposal.votes_for_success.to_s %></pr>
  <p>Apoyos recibidos: <%= proposal.total_votes.to_s %></pr>
</div>
