<main>
  <%= render 'admin/shared/proposal_search', url: management_proposals_path %>

  <div class="row">
    <div class="proposals-list small-12 column">

      <div class="filters">
        <div class="small-12 medium-12 float-left">
          <% if @search_terms || @search_by_date || @search_by_status %>
            <h2>
              <%= page_entries_info @proposals %>
              <% if @search_terms && @search_by_date && @search_by_status %>
                <%= t("proposals.index.search_three_results_html", count: @proposals.size, search_first: @search_terms, search_second: @search_by_date.strftime("%d/%m/%Y"), search_third: t("proposals.status.#{Proposal::STATES.key(@search_by_status.to_i)}")) %>
              <% elsif @search_terms && @search_by_date %>
                <%= t("proposals.index.search_two_results_html", count: @proposals.size, search_first: @search_terms, search_second: @search_by_date.strftime("%d/%m/%Y")) %>
              <% elsif @search_terms && @search_by_status %>
                <%= t("proposals.index.search_two_results_html", count: @proposals.size, search_first: @search_terms, search_second: t("proposals.status.#{Proposal::STATES.key(@search_by_status.to_i)}")) %>
              <% elsif @search_by_date && @search_by_status %>
                <%= t("proposals.index.search_two_results_html", count: @proposals.size, search_first: @search_by_date.strftime("%d/%m/%Y"), search_second: t("proposals.status.#{Proposal::STATES.key(@search_by_status.to_i)}")) %>
              <% elsif @search_terms %>
                <%= t("proposals.index.search_results_html", count: @proposals.size, search_term: @search_terms) %>
              <% elsif @search_by_date %>
                <%= t("proposals.index.search_results_html", count: @proposals.size, search_term: @search_by_date.strftime("%d/%m/%Y")) %>
              <% elsif @search_by_status %>
                <%= t("proposals.index.search_results_html", count: @proposals.size, search_term: t("proposals.status.#{Proposal::STATES.key(@search_by_status.to_i)}")) %>
              <% end %>
            </h2>
          <% end %>
        </div>
        <%= render @proposals %>
        <%= paginate @proposals %>
      </div>
    </div>
  </div>
</main>
