<div class="poll-question-answers">
  <% if @poll.validate_permission(current_user) && !question.poll.voted_in_booth?(current_user) %>
    <% question.question_answers.each do |answer| %>
      <% if !@session_answers.blank? && @session_answers[question.id.to_s] == answer.id.to_s %>
        <%= link_to create_session_answer_question_path(question, answer_id: answer.id, token: token, poll_id: @poll), method: :post, remote: true  do %>
          <span class="button answered"
            title="<%= t("poll_questions.show.voted", answer: answer.title) %>">
            <%= answer.title %>
          </span>
        <% end %>
      <% else %>
        <%= link_to answer.title,
          create_session_answer_question_path(question, answer_id: answer.id, token: token, poll_id: @poll),
          method: :post,
          remote: true,
          data: {open: 'vote-modal'},
          title: t("poll_questions.show.vote_answer", answer: answer.title),
          class: "button secondary hollow js-question-answer" %>
      <% end %>
    <% end %>
  <% else %>
    <div class="poll-question-answer-access">
      <% question.question_answers.each do |answer| %>
        <span class="button secondary hollow disabled"><%= answer.title %></span>
      <% end %>
      <div class="participation-not-allowed" style='display:none' aria-hidden="false">
        Esta votación solo puede ser apoyada por usuarios con <%= t("admin.polls.new.level_#{@poll.access_level}") %>.
        Si ya contás con el usuario <%= link_to("ingresá aquí", user_omniauth_authorize_path(:saml), title: "ingresá aquí") %>, o de lo contrario <%= link_to('registrate', '#', data: {open: 'registration_modal'} ,title: "registrate") %>
      </div>
    </div>
  <% end %>
</div>
