<div class="poll-question-answers">
  <% if @poll.validate_permission(current_user) && !question.poll.voted_in_booth?(current_user) %>
    <% question.question_answers.each do |answer| %>
      <% if @answers_by_question_id[question.id] == answer.title &&
            (!voted_before_sign_in(question) ||
             question.poll.voted_in_booth?(current_user)) %>
        <span class="button answered"
              title="<%= t("poll_questions.show.voted", answer: answer.title)%>">
          <%= answer.title %>
        </span>
      <% else %>
        <%= link_to answer.title,
          answer_question_path(question, answer: answer.title, token: token, poll_id: @poll),
          method: :post,
          remote: true,
          title: t("poll_questions.show.vote_answer", answer: answer.title),
          class: "button secondary hollow js-question-answer" %>
      <% end %>
    <% end %>
  <% else %>
    <div class="poll-question-answer-access">
      <% question.question_answers.each do |answer| %>
        <span class="button secondary hollow disabled disabled-text-black"><%= answer.title %></span>
      <% end %>
      <div class="participation-not-allowed" style='display:none' aria-hidden="false">
        Las ideas solo pueden ser apoyadas por usuarios con <%= link_to t("admin.polls.new.level_#{@poll.access_level}"), user_omniauth_authorize_path(:saml), title: "#{t("admin.polls.new.level_#{@poll.access_level}")}" %>
      </div>
    </div>
  <% end %>
</div>
