<div id="<%= dom_id(question) %>" class="poll-question">
  <% if is_show_question || !(@poll.validate_permission(current_user) && !question.poll.voted_in_booth?(current_user)) %>
    <h3>
      <%= question.title %>
    </h3>
  <% else %>
    <h3>
      <%= link_to question.title, show_question_poll_path(id: @poll.id, question: question) %>
    </h3>
  <% end %>

  <div id="<%= dom_id(question) %>_answers" class="padding">
    <%= render 'polls/questions/answers', question: question, token: token, session_answers: session_answers %>
  </div>
</div>
