<h3 class="color-title-vote-modal">Has seleccionado</h3>
<div id="answer-selected">
  <% session_answers.each do |session_answer| %>
    <div class="list-selected-vote">
      <% if Poll::Question.find(session_answer[0].to_i).question_answers.count > 1 %>
        <%= Poll::Question.find(session_answer[0].to_i).title %> : <%= Poll::Question::Answer.find(session_answer[1].to_i).title %>
      <% else %>
        <%= Poll::Question.find(session_answer[0].to_i).title %>
      <% end %>
    </div>
  <% end %>
</div>

<% if session_answers.count < poll.number_votes_allowed %>
  <% if is_create_session %>
    <button class="button float-center button-vote-modal" data-close aria-label="Close modal" type="button">
      Seguir Seleccionando
    </button>
  <% else %>
    <%= link_to 'Seguir Seleccionando',
      poll_path(poll),
      class: "button float-center button-vote-modal"%>
  <% end %>
<% elsif session_answers.count == poll.number_votes_allowed  %>
  <% if Setting['enable_participatory_budget'] == "true" %>
    <p class="padding-top-5">Recuerda que puedes seleccionar hasta <%= poll.number_votes_allowed %> propuestas y votar en un sólo municipio. Cuando confirmes el voto ya no podrás cambiarlo.</p><br>
  <% else %>
    <p class="padding-top-5">Ya has seleccionado todas las opciones posibles. Cuando confirmes el voto ya no podrás cambiarlo</p><br>
  <% end %>
  <% if is_create_session %>
    <button class="button float-center button-vote-modal" data-close aria-label="Close modal" type="button">
      Cambiar Selección
    </button>
  <% else %>
    <%= link_to 'Cambiar Selección',
      poll_path(poll),
      class: "button float-center button-vote-modal"%>
  <% end %>
<% end %>

<%= link_to 'Confirmar Voto y Finalizar',
  vote_poll_questions_path(poll_id: poll.id, token: token),
  method: :post,
  remote: true,
  class: "button float-center button-vote-modal",
  id: "confirm-vote-end" %>

<%= link_to 'Limpiar Votación',
  clean_session_same_group_poll_questions_path(poll_id: poll.id, clean_own_poll: true),
  method: :post,
  remote: true,
  class: "link-clean-poll" %>
