<% provide :title do %><%= t('debates.index.title') %><% end %>
<% content_for :header_addon do %>
  <%= render "shared/search_form",
             search_path: debates_path(page: 1),
             i18n_namespace: "debates.index.search_form" %>
<% end %>
<% content_for :canonical do %>
  <%= render "shared/canonical", href: debates_url %>
<% end %>
<div class="box ">
   <%= image_tag(image_path_for('banner-debates.jpg'), class: 'float-center margin-bottom banner-img', width: '100%', alt: t("layouts.header.logo")) %>
   <div class="column box-text">
      <p> <%= image_tag(image_path_for('hand-4.png'), class: ' float-left hide-for-small-only', size: '100x100', alt: t("layouts.header.logo")) %> </p>
      <h2 class="banner-title hide-for-small-only"><%= t("welcome.debates.title") %></h2>
      <p class="banner-font medium-9 show-for-large-only">El espacio de debates ciudadanos está dirigido a cualquier persona que quiera  poner en discusión temas referidos a la ciudad que le preocupan y sobre los que quiera compartir puntos de vista con otras personas.</p>
    </div>
</div>
<main>
  <% if @search_terms || @advanced_search_terms || @tag_filter %>
    <div class="highlight no-margin-top padding margin-bottom">
      <div class="row">
        <div class="small-12 column">
          <% if @search_terms || @advanced_search_terms %>
            <h2><%= t("shared.search_results") %></h2>
            <p>
              <%= page_entries_info @debates %>
              <% if !@advanced_search_terms %>
                <%= t("debates.index.search_results_html", count: @debates.size, search_term: @search_terms) %>
              <% end %>
            </p>
          <% elsif @tag_filter %>
            <h2><%= t("shared.search_results") %></h2>
            <p>
              <%= page_entries_info @debates %>
              <%= t("debates.index.filter_topic", count: @debates.size, topic: @tag_filter) %>
            </p>
          <% end %>
        </div>
      </div>
    </div>
  <% else %>
  <% end %>

  <div class="row">
    <div id="debates" class="debates-list small-12 medium-9 column">

      <% if has_banners? %>
        <%= render "shared/banner" %>
      <% end %>

      <% unless @tag_filter || @search_terms || !has_featured? %>
        <%= render "featured_debates" %>
      <% end %>

      <%= render "shared/advanced_search", search_path: debates_path(page: 1) %>

      <%= render 'shared/order_links', i18n_namespace: "debates.index" %>
      <hr class="padding-10">

      <div class="show-for-small-only">
        <%= link_to t("debates.index.start_debate"), new_debate_path, class: 'button expanded' %>
      </div>

      <% if @debates.any? || current_user.blank? %>
        <%= render @debates %>
      <% else %>
        <%= empty_recommended_debates_message_text(current_user) %>
      <% end %>
      <%= paginate @debates %>

    </div>

    <div class="small-12 medium-3 column">

      <aside class="margin-bottom">
        <%= link_to t("debates.index.start_debate"), new_debate_path, class: 'button expanded' %>
        <%= render "shared/tag_cloud", taggable: 'debate' %>
      <% unless @search_terms || @advanced_search_terms || @tag_filter %>
        <div id="section_help" class="margin" data-magellan-target="section_help">
          <p class="lead">
            <strong><%= t("debates.index.section_footer.title") %></strong>
          </p>
          <p>Para abrir un debate es necesario que estés registrado en Montevideo Decide <%= link_to t("registrado en Montevideo Decide"), new_user_session_path %> con niveles de usuario 1 y 2, si ya tenés una <%= link_to t("cuenta"), new_user_session_path %> podes comentar los debates abiertos y validarlo con los botones "Estoy de acuerdo" o "No estoy de acuerdo" que se encuentran en cada uno de ellos.</p>
          <p>Tené en cuenta que un debate no activa ningún mecanismo de actuación concreto. Si querés plantear una <%= link_to t("idea"), new_user_session_path %> para la ciudad o realizar una propuesta para el <%= link_to t("presupuesto participativo"), 'http://presupuestoparticipativo.montevideo.gub.uy', target: :_blank %>, entrá a los links marcados anteriormente e ingrésalo cuando la convocatoria esté abierta.</p>
          </p>
        </div>
      <% end %>
      </aside>
    </div>

  </div>
</main>
