<div class="debate-form row">

  <div class="small-12 medium-9 column">
    <%= back_link_to %>

    <h1><%= t("debates.new.start_new") %></h1>
    <div data-alert class="callout primary">
     <p> Próximamente podrás plantear tus ideas.</p>
    </div>
    <%= render "form" %>
  </div>
  <div class="small-12 medium-3 column">
    <h2><%= t("debates.new.recommendations_title") %></h2>
    <ul class="recommendations">
      <li><%= t("debates.new.recommendation_one") %></li>
      <li><%= t("debates.new.recommendation_two") %></li>
    </ul>
  </div>
</div>
