<% if proposal.not_successful? %>
  <div class="padding text-center">
    <% if proposal.text_show_finished.blank? %>
      <strong><%= t("proposals.proposal.supports", count: proposal.total_votes) %></strong>
      <p>Esta propuesta no ha sido viable <%= resaon_not_success(proposal)%></p>
    <% else %>
      <p>
        <%= proposal.text_show_finished%>
      </p>
      <% unless proposal.link_not_success.blank? %>
        <%= link_to proposal.link_not_success,
              class: "button button-support expanded #{ show ? 'view-document-show' : 'view-document-list'}",
              title: "Ver documento", target: '_blank' do %>
            Ver documento
          <% end %>
      <% end %>
    <% end %>
  </div>
<% elsif proposal.successful? %>
  <div class="padding text-center proposal-approve">
    <% if proposal.text_show_finished.blank? %>
      <p>
        <%= t("proposals.proposal.successful",
            voting: link_to(t("proposals.proposal.voting"), polls_path)).html_safe %>
      </p>
    <% else %>
      <p>
        <%= proposal.text_show_finished%>
      </p>
      <% unless proposal.link_success.blank? %>
        <%= link_to proposal.link_success,
              class: "button button-support expanded #{ show ? 'view-document-show' : 'view-document-list'}",
              title: "Ver documento", target: '_blank' do %>
            Ver documento
          <% end %>
      <% end %>
    <% end %>
  </div>
  <% if show && can?(:create, Poll::Question) %>
    <p class="text-center">
      <%= link_to t('poll_questions.create_question'),
                  new_admin_question_path(proposal_id: proposal.id),
                  class: "button hollow" %>
    </p>
  <% end %>
<% elsif proposal.open?%>
  <% if proposal.archived? || !proposal.can_vote? %>
    <div class="padding text-center">
      <strong><%= t("proposals.proposal.supports", count: proposal.total_votes) %></strong>
      <% if proposal.archived? %>
        <p>Esta idea ha sido archivada y ya no puede recoger apoyos.</p>
      <% else %>
        <strong><%= t("proposals.proposal.supports", count: proposal.total_votes) %></strong>
        <p>El período para apoyar esta idea ha finalizado.</p>
      <% end %>
    </div>
  <% else %>
    <%= render 'votes',
            { proposal: proposal, vote_url: vote_proposal_path(proposal, value: 'yes') } %>
  <% end %>
<% elsif proposal.archived? %>
  <div class="padding text-center">
    <strong><%= t("proposals.proposal.supports", count: proposal.total_votes) %></strong>
    <p>
      <%= format_archived_text(proposal) %>
    </p>
    <%= document_link(proposal, show, "Ver Documento") %>
  </div>
<% end %>
