<% provide :title do %><%= t('proposals.index.title') %><% end %>
<% content_for :social_media_meta_tags do %>
  <% render "/shared/social_media_meta_tags", social_title: t("proposals.index.title"), social_description: t("proposals.banner-text")  %>
<% end %>

<% content_for :header_addon do %>
  <%= render "shared/search_form",
             search_path: proposals_path(page: 1),
             i18n_namespace: "proposals.index.search_form" %>
<% end %>
<% content_for :canonical do %>
  <%= render "shared/canonical", href: proposals_url %>
<% end %>
<%= render "/shared/registration_modal" %>
<% if ((current_user.blank?) || (!current_user.blank? && session[current_user.id.to_s].blank?)) %>
  <div class="row-for-banners">
    <div class="box">
      <%= image_tag(image_path_for('banner-Idea.png'), class: 'float-center margin-bottom banner-img', width: '100%', alt: t("layouts.header.logo")) %>
      <div class="column box-text">
        <h2 class="banner-title inline-h-0">Mujeres con calle</h2>
          <% if Proposal.can_create? %>
            <div>
              <%= link_to '¡Participá!', new_proposal_guide, class: 'banner-font' %>
            </div>
          <% end %>
      </div>
    </div>
  </div>
<% end %>

<main>
  <% if @search_terms || @advanced_search_terms || @tag_filter || params[:retired].present? %>
    <div class="highlight no-margin-top padding margin-bottom">
      <div class="row">
        <div class="small-12 column">
          <% if @search_terms || @advanced_search_terms %>
            <h2><%= t("shared.search_results") %></h2>
            <p>
              <%= page_entries_info @proposals %>
              <% if !@advanced_search_terms %>
                <%= t("proposals.index.search_results_html", count: @proposals.size, search_term: @search_terms) %>
              <% end %>
            <p>
          <% elsif @tag_filter %>
            <h2><%= t("shared.search_results") %></h2>
            <p>
              <%= page_entries_info @proposals %>
              <%= t("proposals.index.filter_topic", count: @proposals.size, topic: @tag_filter) %>
            </p>
          <% elsif params[:retired].present? %>
            <h2><%= t("proposals.index.retired_proposals") %></h2>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>

  <% if ((current_user.blank?) || (!current_user.blank? && session[current_user.id.to_s].blank?)) %>
    <div class="row">
  <% else %>
    <div class="row padding-btn-banner-vote">
  <% end %>
    <div id="proposals" class="proposals-list small-12 medium-9 column">
      <% if @featured_proposals.present? %>
        <div class="small-12 column featured-title-proposal">
          <h2>
            <%= t("proposals.index.featured_proposals") %>
          </h2>
        </div>
        <div id="featured-proposals" class="row featured-proposals">
          <% @featured_proposals.each do |featured_proposal| %>
            <%= render "featured_proposal", proposal: featured_proposal %>
          <% end %>
        </div>
      <% end %>

      <%= render("shared/advanced_search", search_path: proposals_path(page: 1)) unless params[:retired].present? %>

      <%= render 'shared/order_links', i18n_namespace: "proposals.index" %>

      <% if @proposals.any? %>
        <div class="show-for-small-only">
          <%= link_to '¿Cómo funcionan las ideas?',
                  '/como-funcionan-las-ideas',
                  class: 'button expanded' %>
          <% if Proposal.can_create? %>
            <%= link_to t("proposals.index.start_proposal"),
                    new_proposal_guide,
                    class: 'button expanded' %>
          <% end %>
        </div>
      <% end %>

      <div id="proposals-list">
        <% if @proposals.any? || current_user.blank? %>
          <%= render partial: 'proposals/proposal', collection: @proposals %>
        <% else %>
          <%= empty_recommended_proposals_message_text(current_user) %>
        <% end %>
        <%= paginate @proposals %>

        <% unless @search_terms || @advanced_search_terms || @tag_filter %>
          <div id="section_help" class="margin help-proposal" data-magellan-target="section_help">
            <p class="lead">
              <strong><%= t("proposals.index.section_footer.title") %></strong>
            </p>
            <%= render '/pages/ideas_help'%>
          </div>
        <% end %>
      </div>
    </div>

    <div class="small-12 medium-3 column">
      <aside class="margin-bottom">
        <%= link_to '¿Cómo funcionan las ideas?',
                    '/como-funcionan-las-ideas',
                    class: 'button expanded' %>
        <% if Proposal.can_create? %>
          <%= link_to t("proposals.index.start_proposal"),
                    new_proposal_guide,
                    class: 'button expanded' %>
        <% end %>
        <% if params[:retired].blank? %>
          <%= render 'categories' %>
          <%= render "shared/tag_cloud", taggable: 'proposal' %>
          <%= render 'geozones' %>
        <% end %>
      </aside>
    </div>

  </div>
</main>
