
<footer>
  <div class="footer-bg">
    <div class="row margin-top-20">
        <div class="footer-bg">
          <div class="small-8 medium-footer-img large-4 column">
            <%= link_to (image_tag(image_path_for('logo_footer.png'), class: 'float-left medium-center', size: '300x160', alt: t("layouts.footer.logo"))), 'http://montevideo.gub.uy', target: :_blank %>
            <div id="barra_vertical" class="hide-for-small-only hide-for-medium-only"></div>
            <%= link_to t("footer.contact_form"), 'http://www.montevideo.gub.uy/node/42843', class: 'margin-left-form', target: :_blank %>
          </div>
          <div class="margin-left-sn footer-sections small-12 medium-footer-div large-8 column footer-links gray-bg">
            <div class="small-12 medium-2 margin-top-20 column">
              <%= link_to t("footer.participation_title"), more_info_faq_path, class: "title" %>
            </div>
              <div id="barra_vertical-r" class="hide-for-small-only"></div>
            <div class="small-12 medium-2 margin-top-20 column footer-links">
              <%= link_to t("footer.transparency_title"), 'http://www.montevideo.gub.uy/institucional/transparencia', class: "title", target: :_blank, rel: "nofollow" %>
            </div>
            <div id="barra_vertical-r" class="hide-for-small-only"></div>
            <div class="small-12 medium-2 margin-top-20 column float-left footer-links footer-last">
              <%= link_to t("footer.open_data_title"), 'https://catalogodatos.gub.uy/organization/intendencia-montevideo', class: "title", target: :_blank, rel: "nofollow" %>
            </div>
            <div id="barra_vertical-r" class="hide-for-small-only"></div>
            <div class="custom-social-networks small-12 medium-2 margin-top-20 column float-left footer-links footer-last">
              <div class="row">
                <div class="small-3 medium-3 large-3 column">
                  <%= link_to (image_tag(image_path_for('FB-ICO.png'), class: 'image-size medium-center', alt: t("FB-ICO.png"))), 'http://montevideo.gub.uy', class: 'float-left', target: :_blank %>
                </div>
                <div class="small-3 medium-3 large-3 column">
                  <%= link_to (image_tag(image_path_for('IG-ICO.png'), class: 'image-size medium-center', alt: t("IG-ICO.png"))), 'http://montevideo.gub.uy', class: 'float-left', target: :_blank %>
                </div>
                <div class="small-3 medium-3 large-3 column">
                  <%= link_to (image_tag(image_path_for('TW-ICO.png'), class: 'image-size medium-center', alt: t("TW-ICO.png"))), 'http://montevideo.gub.uy', class: 'float-left', target: :_blank %>
                </div>
                <div class="small-3 medium-3 large-3 column">
                  <%= link_to (image_tag(image_path_for('YT-ICO.png'), class: 'float-left', class: 'image-size medium-center', alt: t("YT-ICO.png"))), 'http://montevideo.gub.uy', target: :_blank %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="bg-policy medium-12 text-center">
        <%= link_to t("footer.policy"), privacy_path, class: "policy", rel: "nofollow" %> <%= t("footer.and") %> <%= link_to t("footer.conditions"), conditions_path, class: "policy", rel: "nofollow" %>
      </div>
    </div>
  </div>
</footer>
