<header class="without-margin-bottom">
  <div class="top-links">
    <div class="row">
      <%= render "shared/locale_switcher" %>
      <div class="hide-for-small-only">
        <%= render "shared/top_links" %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="top-bar">
      <%= link_to root_path, class: "hide-for-large-only", accesskey: "0" do %>
        <%= image_tag(image_path_for('logo-MvdDecide.png'), class: 'hide-for-large-only float-left', size: '120x40', alt: t("layouts.header.logo")) %>
      <% end %>
      <span data-responsive-toggle="responsive_menu" data-hide-for="large" class="float-right">
        <span class="menu-icon dark" data-toggle></span>
      </span>
      <%= link_to (image_tag(image_path_for('picto_user_gde.png'), class: 'float-right hide-for-large-only', width: '50x50', alt: t("layouts.header.logo"))), new_user_session_path %>

      <div id="responsive_menu">
        <div>
          <%= link_to root_path, class: "show-for-large-only", accesskey: "0" do %>
            <%= image_tag(image_path_for('logo-MvdDecide.png'), class: 'show-for-large-only float-left', size: '180x80', alt: t("layouts.header.logo")) %>
          <% end %>
        </div>

        <div class="top-bar-right">
          <ul class="menu" data-responsive-menu="medium-dropdown">
            <%= render "shared/admin_login_items" %>
            <%= render "devise/menu/login_items" %>
          </ul>

          <div class="hide-for-large-only">
            <div class="subnavigation row">
              <%= render "shared/subnavigation" %>
              <div class="small-12 column">
                <%= render "shared/top_links" %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="subnavigation expanded" id="subnavigation-expanded">
    <div class="row">
      <div class="show-for-large-only">
        <%= render "shared/subnavigation" %>
      </div>
  <div class="hide-for-large-only small-search">
    <%= yield :header_addon %>
  </div>
    </div>
  </div>

  <div class= "button-vote-c">
    <% if !current_user.blank? && !session[current_user.id.to_s].blank? %>
      <%= render '/layouts/button_vote' %>
    <% end %>
  </div>

</header>
