<div>
  <%= image_tag attachments['banner-mailing.png'].url %>
  <p style="padding-top:20px; font-size: 14px; font-family: Arial; color: #000000; font-weight: 400; font-style: normal;">
    ¡Hola!
  </p>
  <p style="padding-top:5px; font-size: 13px; font-family: Arial; color: #000000; font-weight: 400; font-style: normal; vertical-align: baseline;">
    Participaste de la votación
    <strong><%= @poll.name %></strong>,
    <% if Setting['enable_participatory_budget'] == "false" %>
      de Montevideo Decide.
    <% end %>
    Puedes guardar este mail como constancia de voto.
  </p>
  <p style="padding-top:5px; font-size: 13px; font-family: Arial; color: #000000; font-weight: 400; font-style: normal;">
    Constancia de voto: <strong><%= @token %></strong>.
  </p>
  <% if Setting['enable_participatory_budget'] == "true" %>
    <p style="padding-top:5px; font-size: 13px; font-family: Arial; color: #000000; font-weight: 400; font-style: normal;">
      Te recordamos que el próximo domingo 11 de noviembre podrás concurrir votar los Concejos Vecinales en los
    </p>
    <p style="padding-top:5px; font-size: 13px; font-family: Arial; color: #000000; font-weight: 400; font-style: normal;">
      siguientes lugares: <%= link_to "http://www.montevideo.gub.uy/mapas/localesPPyCV", "http://www.montevideo.gub.uy/mapas/localesPPyCV", target: :_blank %>
    </p>
  <% end %>
  <p style="padding-top:25px; font-size: 11pt; font-family: Arial; color: #000000; font-weight: bold; font-style: italic; font-variant: normal; text-decoration: none; vertical-align: baseline;">
    Construí la ciudad en la que querés vivir.
  </p>
  <%= image_tag attachments['signature_email.gif'].url %>
  <pre style="font-size: 9px;">
  Asesoría de Desarrollo
  Municipal y Participación.
  Tel. 1950 int. 3122
  Piso 2. Puerta 2042.
  </pre>
</div>
