<div>
  <%= image_tag attachments['header_email.png'].url %>
  <p style="padding-top:5px; font-size: 13px; font-family: Arial; color: #000000; font-weight: 400; font-style: normal; vertical-align: baseline;">
    <%= t("mailers.reply.title") %>
  </p>
   <p style="padding-top:5px; font-size: 13px; font-family: Arial; color: #000000; font-weight: 400; font-style: normal; vertical-align: baseline;">
    <strong><%= @reply.author.name %></strong> ha respondido a tu comentario en Montevideo Decide. <%= link_to "Ver respuesta", comment_url(@reply.id), style: "color: #2895F1; text-decoration:none;" %>
  </p>

  <p style="font-size: 13px; font-family: Arial; color: #000000; font-weight: 400; vertical-align: baseline; font-style: italic;font-weight: normal;line-height: 24px;margin-left: 20px;padding: 10px; border-left: 2px solid #DEE0E3;">
     <%= text_with_links @reply.body %>
   </p>
   <br>
   <p style="font-family: 'Open Sans','Helvetica Neue',arial,sans-serif;font-size: 12px;font-weight: normal;line-height: 20px;">
    <%= t("mailers.config.manage_email_subscriptions") %> <%= link_to t("account.show.title"), account_url, style: "color: #2895F1; text-decoration:none;" %>
  </p>
  <%= image_tag attachments['signature_email.gif'].url %>
  <pre style="font-size: 9px;">
  Asesoría de Desarrollo
  Municipal y Participación.
  Tel. 1950 int. 3122
  Piso 2. Puerta 2042.
  </pre>
</div>
