<% if feature?(:saml_login) || feature?(:facebook_login) || feature?(:twitter_login) || feature?(:google_login) %>

  <% if current_page?(new_user_session_path) %>
    <div class="row center-mid">
      <div class="column margin-top-20">
        <div>
          <h2><%= t("login_view.sign_in_with") %></h2>
        </div>
        <% if feature? :facebook_login %>
        <p><%= t("login_view.sign_in_user_one") %>:</p>
          <div class="small-4 medium-3 large-3 column end">
            <%= link_to (image_tag(image_path_for('facebook.png'), class: '', width: '70x70', alt: t("layouts.header.logo"))), user_omniauth_authorize_path(:facebook) %>
          </div>
        <% end %>

        <% if feature? :twitter_login %>
          <div class="small-4 medium-3 large-3 column end">
            <%= link_to (image_tag(image_path_for('twitter.png'), class: '', width: '70x70', alt: t("layouts.header.logo"))), user_omniauth_authorize_path(:twitter) %>
          </div>
        <% end %>

        <% if feature? :google_login %>
          <div class="small-4 medium-3 large-3 column end">
            <%= link_to (image_tag(image_path_for('google.png'), class: '', width: '70x70', alt: t("layouts.header.logo"))), user_omniauth_authorize_path(:google_oauth2) %>
          </div>
        <% end %>
      </div>
      <div class="column margin-top-20">
        <div><p><%= t("login_view.sign_in_user_two") %>:</p></div>
      <% if feature? :saml_login %>
        <div class="small-12 medium-12 large-12 column end">
          <h3><strong><%= link_to t("omniauth.saml.name"), user_omniauth_authorize_path(:saml),
                      title: t("omniauth.saml.sign_in"),
                      class: "" %></strong></h3>
        </div>
      <% end %>
      </div>
    </div>

  <% elsif current_page?(new_user_registration_path) %>
    <div class="row center-mid">
      <div class="column margin-top-20">
        <div>
          <h2><%= t("login_view.sign_in_with") %></h2>
        </div>
        <% if feature? :facebook_login %>
        <p><%= t("login_view.sign_in_user_one") %>:</p>
          <div class="small-4 medium-3 large-3 column end">
            <%= link_to (image_tag(image_path_for('facebook.png'), class: '', width: '70x70', alt: t("layouts.header.logo"))), user_omniauth_authorize_path(:facebook) %>
          </div>
        <% end %>

        <% if feature? :twitter_login %>
          <div class="small-4 medium-3 large-3 column end">
            <%= link_to (image_tag(image_path_for('twitter.png'), class: '', width: '70x70', alt: t("layouts.header.logo"))), user_omniauth_authorize_path(:twitter) %>
          </div>
        <% end %>

        <% if feature? :google_login %>
          <div class="small-4 medium-3 large-3 column end">
            <%= link_to (image_tag(image_path_for('google.png'), class: '', width: '70x70', alt: t("layouts.header.logo"))), user_omniauth_authorize_path(:google_oauth2) %>
          </div>
        <% end %>
      </div>
      <div class="column margin-top-20">
        <div><p><%= t("login_view.sign_in_user_two") %>:</p></div>
      <% if feature? :saml_login %>
        <div class="small-12 medium-12 large-12 column end">
          <h3><strong><%= link_to t("omniauth.saml.name"), user_omniauth_authorize_path(:saml),
                      title: t("omniauth.saml.sign_in"),
                      class: "" %></strong></h3>
        </div>
      <% end %>
      </div>
    </div>
  <% end %>
<% end %>
