<div class="row-for-banners">
  <div class="box ">
    <%= image_tag(image_path_for('banner-CC.png'), class: 'float-center margin-bottom banner-img', width: '100%', alt: t("layouts.header.logo")) %>
    <div class="column box-text">
      <div class="column box-text">
        <h2 class="banner-title inline-h-0">Consultas Ciudadanas</h2>
      </div>
    </div>
  </div>
</div>
<% provide :title do %>
  <%= t("layouts.header.collaborative_legislation") %> - <%= t("legislation.processes.index.filters.#{@current_filter}") %>
<% end %>
<div class="row">
  <div class="relative show-for-small-only margin-help-link">
    <%= link_to t("legislation.processes.index.help_link"), "#section_help", class: "advanced-search small" %>
  </div>
  <div id="legislation" class="legislation-list small-12 medium-9 column">

    <%= render 'shared/filter_subnav', i18n_namespace: "legislation.processes.index" %>
      <hr>
    <div id="legislation-list">
      <% if @processes.any? %>
        <%= render @processes %>
        <%= paginate @processes %>
      <% else %>
        <div class="callout primary margin-top">
          <%= t(".no_#{@current_filter}_processes") %>
        </div>
      <% end %>
      <hr>
    </div>
  </div>
  <div id="section_help" class="medium-3 column" data-magellan-target="section_help">
    <p class="lead">
      <strong> <%= t("legislation.title") %></strong>
    </p>
    <p><%= t("legislation.description") %></p>
    <p><%= t("legislation.description2") %> <%= link_to t("legislation.description_link"), account_path %> <%= t("legislation.description3") %></p>
    <p> <%= t("legislation.description4") %></p>
  </div>
</div>
