<div class="row-for-banners">
  <div class="box ">
     <%= image_tag(image_path_for('banner-CC.jpg'), class: 'float-center margin-bottom banner-img', width: '100%', alt: t("layouts.header.logo")) %>
     <div class="column box-text show-for-large-only">
        <p> <%= image_tag(image_path_for('hand-2.png'), class: ' float-left', size: '100x100', alt: t("layouts.header.logo")) %> </p>
        <h2 class="banner-title">Consulta Ciudadana</h2>
        <p class="banner-font small-12 medium-6">Participa de los procesos y debates previos a la la aprobacion de una norma o un reglamento.</p>
      </div>
  </div>
</div>
<% provide :title do %>
  <%= t("layouts.header.collaborative_legislation") %> - <%= t("legislation.processes.index.filters.#{@current_filter}") %>
<% end %>
<div class="row">
  <div id="legislation" class="legislation-list small-12 medium-9 column">

    <%= render 'shared/filter_subnav', i18n_namespace: "legislation.processes.index" %>
      <hr>
    <div id="legislation-list">
      <% if @processes.any? %>
        <%= render @processes %>
        <%= paginate @processes %>
      <% else %>
        <div class="callout primary margin-top">
          <%= t(".no_#{@current_filter}_processes") %>
        </div>
      <% end %>
      <hr>
    </div>
  </div>
  <div id="section_help" class="medium-3 column" data-magellan-target="section_help">
    <p class="lead">
      <strong>Ayuda sobre las consultas ciudadanas</strong>
    </p>
    <p>A través de la Consulta ciudadana, la Intendencia de Montevideo te ofrece la oportunidad de decidir acerca de proyectos y actividades que tiene previstas para la ciudad.</p>
    <p>Podrás participar activamente de encuestas y sondeos, así como en los procesos y decisiones finales de determinados proyectos. Para participar de este módulo, deberás estar <%= link_to "registrado", account_path %> con nivel de usuario Nº 2.</p>
  </div>
</div>
