<%= form_for [:admin, @poll] do |f| %>

  <div class="row">
    <div class="small-12 medium-6 column">
      <%= f.check_box :public_consultation, label: false %>
      <%= f.label :public_consultation, "Consulta Pública" %>
    </div>
  </div>
  <div class="row">
    <div class="small-12 medium-6 column">
      <%= f.text_field :name %>
    </div>
  </div>

  <div class="row">
    <div class="small-12 medium-6 column">
      <%= f.text_field :starts_at,
                        value: @poll.starts_at.present? ? l(@poll.starts_at.to_date) : nil,
                        autocomplete: "off",
                        class: "js-calendar-full" %>
    </div>

    <div class="small-12 medium-6 column">
      <%= f.text_field :ends_at,
                        value: @poll.ends_at.present? ? l(@poll.ends_at.to_date) : nil,
                        autocomplete: "off",
                        class: "js-calendar-full" %>
    </div>
  </div>

  <div class="row">
    <div class="small-12 column">
      <%= f.text_area :summary, rows: 4 %>
    </div>
  </div>

  <div class="row">
    <div class="small-12 column">
      <%= f.text_area :description, rows: 8 %>
    </div>
  </div>

  <div class="row">
    <div class="small-12 column">
      <%= render 'images/admin_image', imageable: @poll, f: f %>
    </div>
  </div>

  <div class="row padding-10">
    <div class="small-12 medium-6 column">
      <%= f.select :access_level,
                    options_for_select(options_access_level, @poll.access_level),
                    prompt: t("admin.polls.new.access_level"),
                    label: t("admin.polls.new.access_level") %>
    </div>

    <div class="small-12 medium-6 column">
      <%= f.select :poll_group_id,
                    options_for_select(PollGroup.pluck(:name, :id), @poll.poll_group_id),
                    :include_blank => true,
                    label: t("admin.polls.new.poll_group_label") %>
    </div>
  </div>

  <div class="row">
    <div class="small-12 medium-6 column">
      <%= f.number_field :number_votes_allowed, label: t("admin.polls.new.number_votes_allowed") %>
    </div>
  </div>

  <% if controller_name == "polls" && action_name == "edit" %>
    <div class="row">
      <fieldset class="fieldset">
        <legend><%= t('admin.polls.new.show_results_and_stats') %></legend>
        <%= f.check_box :results_enabled, checked: @poll.results_enabled?, label: t('admin.polls.new.show_results') %>
        <p class="small"><%= t('admin.polls.new.results_and_stats_reminder') %></p>
      </fieldset>
    </div>
  <% end %>

  <div class="row">
    <div class="small-12 medium-4 column">
      <%= f.submit t("admin.polls.#{admin_submit_action(@poll)}.submit_button"),
                   class: "button success expanded" %>
    </div>
  </div>
<% end %>
