<h2 class="inline-block"><%= t("admin.newsletters.index.title") %></h2>
<%= link_to t("admin.newsletters.index.new_newsletter"), new_admin_newsletter_path,
                                                         class: "button float-right" %>

<% if @newsletters.any? %>
  <table id="newsletters">
    <thead>
      <tr>
        <th>Asunto</th>
        <th>Segmento</th>
        <th>Estado</th>
        <th>Cant. Usuarios</th>
        <th>Cant. Envios</th>
        <th class="small-5 text-right">Acciones</th>
      </tr>
    </thead>
    <tbody>
    <% @newsletters.order(created_at: :desc).each do |newsletter| %>
      <tr id="<%= dom_id(newsletter) %>" class="newsletter">
        <td>
          <%= newsletter.subject %>
        </td>
        <td>
          <%= segment_name(newsletter.segment_recipient) %>
        </td>
        <td>
          <%= status_name(newsletter.status) %>
        </td>
        <td>
          <%= newsletter.users.count %>
        </td>
        <td>
          <%= newsletter.mails_sended.count %>
        </td>
        <td class="text-right">
          <% if newsletter.not_initialized? || newsletter.paused? %>
            <%= link_to t("admin.newsletters.index.edit"), edit_admin_newsletter_path(newsletter),
                                                           method: :get, class: "button hollow" %>

            <%= link_to t("admin.newsletters.index.delete"), admin_newsletter_path(newsletter),
                                                             method: :delete,
                                                             "data-alert": "Seguro quiere eliminar el newsletter #{newsletter.subject}",
                                                             class: "button hollow alert js-delete-newsletter-alert" %>
          <% end %>
          <%= link_to t("admin.newsletters.index.preview"), admin_newsletter_path(newsletter),
                                                            class: "button" %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
<% else %>
  <div data-alert class="callout primary margin-top clear">
    <%= t("admin.newsletters.index.empty_newsletters") %>
  </div>
<% end %>
