<p class='help-questions'><%= t("proposals.index.section_footer.title_1").html_safe %></p>
<p><%= t("proposals.index.section_footer.desc_1", link: link_to('darte de alta', new_user_session_url)).html_safe %></p>
<p class='help-questions'><%= t("proposals.index.section_footer.title_2").html_safe %></p>
<p><%= t("proposals.index.section_footer.desc_2").html_safe %></p>
<p class='help-questions'><%= t("proposals.index.section_footer.title_3").html_safe %></p>
<p><%= t("proposals.index.section_footer.desc_3").html_safe %></p>
<p class='help-questions'><%= t("proposals.index.section_footer.title_4").html_safe %></p>
<p><%= t("proposals.index.section_footer.desc_4").html_safe %></p>
<p class='help-questions'><%= t("proposals.index.section_footer.title_5").html_safe %></p>
<p><%= t("proposals.index.section_footer.desc_5").html_safe %></p>
<p class='help-questions'><%= t("proposals.index.section_footer.title_6").html_safe %></p>
<p><%= t("proposals.index.section_footer.desc_6").html_safe %></p>
<p class='help-questions'><%= t("proposals.index.section_footer.title_7").html_safe %></p>
<p><%= t("proposals.index.section_footer.desc_7").html_safe %></p>
<%= t("proposals.index.section_footer.desc_7_ul").html_safe %>
<p class='help-questions'><%= t("proposals.index.section_footer.title_8").html_safe %></p>
<p><%= t("proposals.index.section_footer.desc_8").html_safe %></p>
<p class='help-questions'><%= t("proposals.index.section_footer.title_9").html_safe %></p>
<p><%= t("proposals.index.section_footer.desc_9").html_safe %></p>
