<% provide :title do %><%= t('pages.titles.conditions') %><% end %>
<% content_for :canonical do %>
  <%= render "shared/canonical", href: page_url("conditions") %>
<% end %>

<div class="row margin-top">

  <div class="small-12 medium-9 column">
    <h1><%= t("pages.conditions") %></h1>
    <h2><%= t('reconditions.advise') %></h2>
    <h4><%= t('reconditions.one_title') %></h4>
    <p><%= t('reconditions.one_content_one') %></p>
    <p><%= t('reconditions.one_content_two') %></p>
    <h4><%= t('reconditions.two_title') %></h4>
    <p><%= t('reconditions.two_content_one') %></p>
    <h4><%= t('reconditions.three_title') %></h4>
    <p><%= t('reconditions.three_content_one') %></p>
    <p><%= t('reconditions.three_content_two') %></p>
    <h4><%= t('reconditions.four_title') %></h4>
    <p><%= t('reconditions.four_content_one') %></p>
    <p><%= t('reconditions.four_content_two') %></p>
    <p><%= t('reconditions.four_content_three') %></p>
    <p><%= t('reconditions.four_content_four') %></p>
    <p><%= t('reconditions.four_content_five') %></p>
    <p><%= t('reconditions.four_content_six') %></p>
    <p><%= t('reconditions.four_content_seven') %></p>
    <p><%= t('reconditions.four_content_eight') %></p>
    <p><%= t('reconditions.four_content_nine') %></p>
    <p><%= t('reconditions.four_content_ten') %></p>
    <p><%= t('reconditions.four_content_eleven') %></p>
    <p><%= t('reconditions.four_content_end') %></p>
    <h4><%= t('reconditions.five_title') %></h4>
    <p><%= t('reconditions.five_content_one') %></p>
    <p><%= t('reconditions.five_content_two') %></p>
    <p><%= t('reconditions.five_content_three') %></p>
    <p><%= t('reconditions.five_microtitel') %></p>
    <p><%= t('reconditions.five_five_sub_one_titlel') %></p>
    <p><%= t('reconditions.five_sub_one_content_one') %></p>
    <p><%= t('reconditions.five_sub_one_content_two') %></p>
    <p><%= t('reconditions.five_sub_one_content_three') %></p>
    <p><%= t('reconditions.five_sub_two_title') %></p>
    <p><%= t('reconditions.five_microtitel_two') %></p>
    <p><%= t('reconditions.five_sub_two_content_one') %></p>
    <p><%= t('reconditions.five_sub_two_content_two') %></p>
    <p><%= t('reconditions.five_sub_three_title') %></p>
    <p><%= t('reconditions.five_microtitel_three') %></p>
    <p><%= t('reconditions.five_sub_three_content_one') %></p>
    <h4><%= t('reconditions.six_title') %></h4>
    <p><%= t('reconditions.six_content_one') %></p>
    <p><%= t('reconditions.six_content_two') %></p>
    <p><%= t('reconditions.six_content_two_one') %></p>
    <p><%= t('reconditions.six_content_two_two') %></p>
    <p><%= t('reconditions.six_content_three') %></p>
    <p><%= t('reconditions.six_content_four') %></p>
    <p><%= t('reconditions.six_content_five') %></p>
    <h4><%= t('reconditions.seven_title') %></h4>
    <p><%= t('reconditions.seven_content_one') %></p>
    <p><%= t('reconditions.seven_content_two') %></p>
    <h4><%= t('reconditions.eight_title') %></h4>
    <p><%= t('reconditions.eight_content_one') %></p>
  </div>
</div>

