<% provide :title do %><%= @custom_page.title %><% end %>
<% content_for :header_addon do %>
  <%= render "shared/search_form",
             search_path: articles_path(page: 1),
             i18n_namespace: "pages.custom_page.search_form" %>
<% end %>
<div class="row margin-top">

  <div class="small-12 medium-9 column article-container">
    <h1><%= @custom_page.title %></h1>
    <% if @custom_page.subtitle.present? %>
      <h2><%= @custom_page.subtitle%></h2>
    <% end %>
    
    <div class="margin-bottom">
      <%= @custom_page.updated_at.strftime("%d/%m/%Y") %>
    </div>
    
    <%= @custom_page.content.html_safe %>
  </div>

  <% if @custom_page.print_content_flag %>
    <div class="small-12 medium-3 column">
      <%= render '/shared/print' %>
    </div>
  <% end %>

  <div class="small-12 medium-3 column margin-top">
    <%= render "categories" %>
    <div>
      <% if @related_pages.any? %>
        <h3> MÁS NOTICIAS </h3>
        <% @related_pages.each do |site| %>
          <%= link_to page_path(site.slug), { class: "image-link" } do %>
            <div class="image-text-container margin-bottom">
              <%= image_tag site.image_url(:large), alt: site.title %>
              <div class="image-text"> 
                <%= site.title %>
              </div>
            </div>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>

</div>
