<% content_for :social_media_meta_tags do %>
  <% render "/shared/social_media_meta_tags", social_title: t("space.title"), social_description: t("space.content_banner")  %>
<% end %>
<div class="row-for-banners">
  <div class="box ">
     <%= image_tag(image_path_for('banner-EC.png'), class: 'float-center margin-bottom banner-img', width: '100%', alt: t("layouts.header.logo")) %>
      <div class="column box-text">
        <p> <%= image_tag(image_path_for('hand-4.png'), class: ' float-left show-for-large-only', size: '70x70', alt: t("layouts.header.logo")) %> </p>
        <p> <%= image_tag(image_path_for('hand-4.png'), class: ' float-left show-for-medium-only', size: '55x55', alt: t("layouts.header.logo")) %> </p>
        <h2 class="banner-title"><%= t("space.title") %></h2>
        <p class="banner-font medium-9 show-for-large-only"><%= t("space.content_banner") %></p>
      </div>
  </div>
  <div class="column collaboration-spaces">
    <div class="column small-11 medium-11 margin-left-30">
      <div class="column medium-3 color-base">
        <h3><%= link_to 'Enlace', "http://www.montevideo.gub.uy/node/42284", target: :_blank %></h3>
        <hr>
        <%= link_to image_tag(image_path_for('enlace.png'), class: 'float-center', width: '100%', alt: t("layouts.header.logo")), "http://www.montevideo.gub.uy/node/42284", target: :_blank %>
      </div>
      <div class="column medium-3 color-base">
        <h3 class="margin-top-small"><%= link_to 'Voluntariado', "http://www.montevideo.gub.uy/node/37591", target: :_blank %></h3>
        <hr>
        <%= link_to image_tag(image_path_for('voluntariado.png'), class: 'float-center', width: '100%', alt: t("layouts.header.logo")), "http://www.montevideo.gub.uy/node/37591", target: :_blank %>
      </div>
      <div class="column medium-3 color-base">
        <h3 class="margin-top-small"><%= link_to 'MVDLAB', "http://www.montevideo.gub.uy/node/41513", target: :_blank %></h3>
        <hr>
        <%= link_to image_tag(image_path_for('mont-lab.png'), class: 'float-center', width: '100%', alt: t("layouts.header.logo")), "http://www.montevideo.gub.uy/node/41513", target: :_blank %>
      </div>
      <div class="column medium-3 color-base">
        <h3 class="margin-top-small"><%= link_to 'Montevideo del mañana', debates_path(search: 'Montevideo del mañana'), target: :_blank %></h3>
        <hr>
        <%= link_to image_tag(image_path_for('mm.jpg'), class: 'float-center', width: '100%', alt: t("layouts.header.logo")), debates_path(search: 'Montevideo del mañana')%>
      </div>
    </div>
  </div>
</div>
