<% content_for :social_media_meta_tags do %>
  <% render "/shared/social_media_meta_tags", social_title: t("space.title"), social_description: t("space.content_banner")  %>
<% end %>
<div class="row-for-banners">
  <div class="box ">
     <%= image_tag(image_path_for('pages-header.jpg'), class: 'float-center margin-bottom banner-img', width: '100%', alt: t("layouts.header.logo")) %>
      <div class="column box-text">
        <h2 class="banner-title inline-h-0">Espacios de Colaboraci칩n</h2>
      </div>
  </div>
  <div class="column collaboration-spaces">
    <div class="column small-11 medium-11 margin-left-30">
      <div class="column medium-3 color-base">
        <h3><%= link_to 'Enlace', "http://www.montevideo.gub.uy/node/42284", target: :_blank %></h3>
        <hr>
        <%= link_to image_tag(image_path_for('enlace.png'), class: 'float-center', width: '100%', alt: t("layouts.header.logo")), "http://www.montevideo.gub.uy/node/42284", target: :_blank %>
      </div>
      <div class="column medium-3 color-base">
        <h3 class="margin-top-small"><%= link_to 'Voluntariado', "http://www.montevideo.gub.uy/node/37591", target: :_blank %></h3>
        <hr>
        <%= link_to image_tag(image_path_for('voluntariado.png'), class: 'float-center', width: '100%', alt: t("layouts.header.logo")), "http://www.montevideo.gub.uy/node/37591", target: :_blank %>
      </div>
      <div class="column medium-3 color-base">
        <h3 class="margin-top-small"><%= link_to 'MVDLAB', "http://www.montevideo.gub.uy/node/41513", target: :_blank %></h3>
        <hr>
        <%= link_to image_tag(image_path_for('mont-lab.png'), class: 'float-center', width: '100%', alt: t("layouts.header.logo")), "http://www.montevideo.gub.uy/node/41513", target: :_blank %>
      </div>
      <div class="column medium-3 color-base">
        <h3 class="margin-top-small"><%= link_to 'Montevideo del ma침ana', debates_path(search: 'Montevideo del ma침ana') %></h3>
        <hr>
        <%= link_to image_tag(image_path_for('mm.jpg'), class: 'float-center', width: '100%', alt: t("layouts.header.logo")), debates_path(search: 'Montevideo del ma침ana')%>
      </div>
    </div>
  </div>
</div>
