<% content_for :header_addon do %>
  <div class="show-for-large-only large-search-bar-container">
    <%= render "shared/search_form",
             search_path: articles_path(page: 1),
             i18n_namespace: "pages.custom_page.search_form" %>
  </div>
<% end %>
<div class="row-for-banners">
  <div class="box banner-box">
    <%= image_tag(image_path_for('banner-general.png'), class: 'banner-image float-center margin-bottom banner-img', width: '100%', alt: t("layouts.header.logo")) %>
    <div class="box-text general-box-text">
      <div class="row">
        <h2 class="banner-title general-banner-title column small-12 inline-h-0">Noticias</h2>
      </div>
    </div>
  </div>
</div>
<div class="row margin-bottom">
    <div class="hide-for-large-only small-search column search-column">
      <%= render "shared/search_form",
              search_path: articles_path(page: 1),
              i18n_namespace: "pages.custom_page.search_form" %>
    </div>
  </div>
<main>
  <% if @search_terms || @category  %>
    <% query_term = @search_terms || @category %>
    <div class="highlight no-margin-top no-margin-top-small margin-bottom">
      <div class="row">
        <div class="small-12 column">
          <h2><%= t("shared.search_results") %></h2>
          <p>
            <%= page_entries_info @pages %>
            <%= t("pages.index.search_results_html", count: @pages.size, search_term: query_term) %>
          <p>
        </div>
      </div>
    </div>
  <% end %>
  <div class="row proposals-summary">
    <div id="proposals" class="proposals-list small-12 medium-9 column">

      <% @pages.each do |page| %>
        <div >

            <div class="proposal clear">
              <div class="panel">
                <div class="row">
                  <div class="small-12 medium-3 column article-image-container">
                    <%= image_tag page.image_url(:large), alt: page.title %>
                  </div>
                  <div class="small-12 medium-9 column article-item-container">
                    <div class="proposal-content">
                      <h3 class="article-title"><%= link_to page.title, page_path(page.slug) %></h3>

                      <p class="proposal-info">
                        <span>Fecha de actualización: <%= page.updated_at.strftime("%d/%m/%Y") %></span>
                      </p>

                      <div class="proposal-description">
                        <p><%= page.summary %></p>
                        <div class="truncate"></div>
                      </div>
                    </div>
                  </div>
                  
                </div>
              </div>
            </div>
        </div>
      <% end %>
      <%= paginate @pages %>
    </div>

    <div class="small-12 medium-3 column">
      <aside class="sidebar">
        <%= render "categories" %>
      </aside>
    </div>
  </div>
</main>
