<% content_for :social_media_meta_tags do %>
  <% render "/shared/social_media_meta_tags", social_title: t("participativo.title"), social_description: t("participativo.content_banner")  %>
<% end %>
<div class="box ">
   <%= image_tag(image_path_for('cbzl_PParticipativo.jpg'), class: 'float-center margin-bottom banner-img', width: '100%', alt: t("layouts.header.logo")) %>
</div>
<div class="column box-text">
  <p> <%= image_tag(image_path_for('hand-4.png'), class: ' float-left hide-for-small-only', size: '100x100', alt: t("layouts.header.logo")) %> </p>
  <h2 class="banner-title hide-for-small-only"><%= t("participativo.title") %> </h2>
  <p class="banner-font medium-9 show-for-large-only"><%= t("participativo.content_banner") %></p>
</div>
<div class="medium-8 column margin-left-30">
  <p><%= t("participativo.content_body") %></p>
  <p><%= t("participativo.content_body_2") %></p>

  <p>Conocé más del <%= link_to 'Presupuesto Participativo', 'http://presupuestoparticipativo.montevideo.gub.uy/', target: '_blank'%></p>
  <br>
</div>
