<div class="bg-color-idea-1 height-div-signin account-div-user-mob-1">
  <div class="row padding-top-5p my-account-img">
    <div class="width-div-image-user column medium-2 large-2 without-padding-right">
      <%= image_tag(image_path_for('picto_user_org.png'), class: 'margin-left-40-user', width: '70x70', alt: t("layouts.header.logo")) %>
    </div>
    <div class="column medium-4 large-4 margin-text-account">
      <p class="font-color-idea font-style-login">
        Mi cuenta
      </p>
    </div>
  </div>
  <% if @account.email.present? %>
    <%= form_for @account, as: :account, url: account_path, html:  { class: 'bg-color-account-notification ' } do |f| %>
      <%= render "shared/errors", resource: @account %>
      <div class="row">
        <div class="small-12 medium-7 column div-form-notification">
            <h2><%= t("account.show.notifications")%></h2>
            <div>
              <%= f.label :email_on_comment do %>
                <%= f.check_box :email_on_comment, title: t('account.show.email_on_comment_label'), label: false %>
                <span class="checkbox">
                  <%= t("account.show.email_on_comment_label") %>
                </span>
              <% end %>
            </div>
            <div>
              <%= f.label :email_on_comment_reply do %>
                <%= f.check_box :email_on_comment_reply, title: t('account.show.email_on_comment_reply_label'), label: false %>
                <span class="checkbox">
                  <%= t("account.show.email_on_comment_reply_label") %>
                </span>
              <% end %>
            </div>
            <div>
              <%= f.label :email_digest do %>
                <%= f.check_box :email_digest, title: t('account.show.email_digest_label'), label: false %>
                <span class="checkbox">
                  <%= t("account.show.email_digest_label") %>
                </span>
              <% end %>
            </div>
            <div>
              <%= f.label :email_on_direct_message do %>
                <%= f.check_box :email_on_direct_message, title: t('account.show.email_on_direct_message_label'), label: false %>
                <span class="checkbox">
                  <%= t("account.show.email_on_direct_message_label") %>
                </span>
              <% end %>
            </div>
          <%= f.submit t("account.show.save_changes_submit"), class: "button margin-top" %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
<div class="row account margin-top-20">

  <div class="small-12 column">

      <div class="large-12 float-left margin-bot-small">

        <%= render "shared/errors", resource: @account %>
        <div class="medium-5 large-6 float-left margin-left-10">
          <div class="margin-top-20">
            <h4><%= t("login_view.sign_in_user_one") %> :</h4>
            <p class="p-small float-left"><%= t("login_view.user_one_description") %></p>
            <p class="p-small float-left"><%= t("login_view.user_one_acces") %></p>
          </div>
          <div class="medium-6 float-left">
            <div class="margin-top-20">
              <p class="base-color"><%= t("login_view.title_debates") %>:</p>
              <div class="column"><span class="icon-check float-left negativ-margin"></span><p class="p-small float-left"><%= t("login_view.content_debates_one") %></p></div>
              <div class="column"><span class="icon-check float-left negativ-margin"></span><p class="p-small float-left"><%= t("login_view.content_debates_two") %></p></div>
              <div class="column"><span class="icon-check float-left negativ-margin"></span><p class="p-small float-left"><%= t("login_view.content_debates_three") %></p></div>
            </div>
          </div>
          <div class="medium-6 small-12 float-right">
            <div class="margin-top-20">
              <p class="base-color"><%= t("login_view.title_ideas") %> :</p>
              <div class="column"><span class="icon-check float-left negativ-margin"></span><p class="p-small float-left"><%= t("login_view.content_ideas_one") %></p></div>
            </div>
          </div>
        </div>

        <div class="medium-5 large-6 float-right margin-left-10 margin-top-20">
          <div>
            <h4><%= t("login_view.sign_in_user_two") %> :</h4>
            <p class="p-small float-left"><%= t("login_view.user_two_description") %></p>
            <p class="p-small float-left"><%= t("login_view.user_one_acces") %></p>
          </div>
          <div class="medium-6 float-left">
            <div class="margin-top-20">
              <p class="base-color"><%= t("login_view.title_debates") %>:</p>
              <div class="column"><span class="icon-check float-left negativ-margin"></span><p class="p-small float-left"><%= t("login_view.content_debates_one") %></p></div>
              <div class="column"><span class="icon-check float-left negativ-margin"></span><p class="p-small float-left"><%= t("login_view.content_debates_two") %></p></div>
              <div class="column"><span class="icon-check float-left negativ-margin"></span><p class="p-small float-left"><%= t("login_view.content_debates_three") %></p></div>
            </div>
            <div class="margin-top-20">
              <p class="base-color"><%= t("login_view.title_consultas") %>:</p>
              <div class="column"><span class="icon-check float-left negativ-margin"></span><p class="p-small float-left"><%= t("login_view.content_consultas_one") %></p></div>
              <div class="column"><span class="icon-check float-left negativ-margin"></span><p class="p-small float-left"><%= t("login_view.content_consultas_two") %></p></div>
            </div>
          </div>
          <div class="medium-6 float-right">
            <div class="margin-top-20">
              <p class="base-color"><%= t("login_view.title_ideas") %> :</p>
              <div class="column"><span class="icon-check float-left negativ-margin"></span><p class="p-small float-left"><%= t("login_view.content_ideas_one") %></p></div>
              <div class="column"><span class="icon-check float-left negativ-margin"></span><p class="p-small float-left"><%= t("login_view.content_ideas_two") %></p></div>
              <div class="column"><span class="icon-check float-left negativ-margin"></span><p class="p-small float-left"><%= t("login_view.content_ideas_three") %></p></div>
              <div class="column"><span class="icon-check float-left negativ-margin"></span><p class="p-small float-left"><%= t("login_view.content_ideas_four") %></p></div>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>
