<% content_for :body_class, "home-page" %>
<% content_for :social_media_meta_tags do %>
  <% render "/shared/social_media_meta_tags", social_title: setting['org_name'], social_description: t("layouts.header.open_city_slogan_html")  %>
<% end %>
<% content_for :canonical do %>
  <%= render "shared/canonical", href: root_url %>
<% end %>
<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <% @headers.each_with_index do |header, index| %>
      <% if index == 0 %>
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <% else %>
        <li data-target="#myCarousel" data-slide-to="<%= index %>"></li>
      <% end %>
    <% end %>
  </ol>

  <!-- Wrapper for slides -->
    <div class="carousel-inner">
      <% @headers.each_with_index do |header, index| %>
        <div class="item <%= 'active' if index == 0 %>">
          <%= image_tag header.image_url(:original), alt: t("layouts.header.logo"), class: 'float-center' %>

          <div class="column box-text">
            <h2 class="banner-title inline-h-0"><%= header.title%></h2>
            <div>
              <%= link_to header.link_text, header.link_url, class: 'banner-font' %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
</div>

<% if feature?("user.recommendations") && (@recommended_debates.present? || @recommended_proposals.present?) %>
  <%= render "recommended",
              recommended_debates: @recommended_debates,
              recommended_proposals: @recommended_proposals %>
  <hr>
<% end %>

<% cache [locale_and_user_status, @featured_debates, @featured_proposals, 'featured'] do %>
  <main>
    <div class="jumbo">
      <div class="row medium-11 large-10 small-10 small-centered" >
        <div class="small-12 medium-6 column text-center size-resp">
          <h1 class="h1-wellcome"><%= t("layouts.header.open_city_title") %></h1>
          <p class="black-color p-wellcome text-left">
            <%= t("layouts.header.open_city_slogan_html") %>
          </p>
        </div>
        <div class="small-12 medium-6 column text-center">
        <p> <%= image_tag(image_path_for('Picto_convive_gde.png'), class: 'float-center', alt: t("welcome")) %> </p>
        </div>
      </div>
    </div>
    <div class="jumbo margin">
      <div class="row medium-12 large-12 small-12 small-centered margin" >
        <div class="large-12 column div-feature">
          <div class="small-2 medium-1 column">
            <%= image_tag(image_path_for('destacados-estrella.png'), class: 'float-center',  alt: t("layouts.header.logo")) %>
          </div>
          <div class="small-10 medium-11 column text-start">
            <h1 class="h1-wellcome">Destacados</h1>
          </div>
        </div>
        <% @recommendations.each do |recommendation|%>
          <div class="large-4 medium-4 column">
            <p class="margin-img-2">
              <%= link_to recommendation.link_url, target: :blank do %>
                <%= image_tag(image_path_for('destacado_1.jpg'), class: 'float-center',  alt: t("layouts.header.logo")) %>
              <% end %>
              <p class="text-feature-img"><%= recommendation.link_text%></p>
            </p>
          </div>
        <% end %>
      </div>
    </div>

     <div class="jumbo base-bg">
      <div class="row medium-12 large-12 small-centered">
        <div class="show-for-large-only large-3 column color-img-1 height-div-below">
          <p>
            <%= image_tag(image_path_for('como_participar.png'), class: 'margin-top-20p float-center', size: '200x200', alt: t("Globo_conversa")) %>
          </p>
        </div>
        <div class="show-for-large-only large-3 column color-img-2 height-div-below">
          <p class="margin-img-2">
            <%= image_tag(image_path_for('picto_user_gde.png'), class: 'float-center', size: '100x100', alt: t("layouts.header.logo")) %>
          </p>
          <h2 class="text-center font-size-title-img">1. <%= t("welcome.step1") %></h2>
          <p class="margin-left-20px font-size-desc-img"><%= t("welcome.step1_content") %></p>
        </div>
        <div class="show-for-large-only large-3 column color-img-3 height-div-below">
          <p class="margin-img-2">
            <%= image_tag(image_path_for('picto_Sobre.png'), class: 'float-center', size: '100x100', alt: t("layouts.header.logo")) %>
          </p>
          <h2 class="text-center font-size-title-img">2. <%= t("welcome.step2") %></h2>
          <p class="margin-left-20px font-size-desc-img"><%= t("welcome.step2_content") %></p>
        </div>
        <div class="show-for-large-only large-3 column color-img-4 height-div-below">
          <p class="margin-img-2">
            <%= image_tag(image_path_for('picto_comparte.png'), class: 'float-center', size: '100x100', alt: t("layouts.header.logo")) %>
          </p>
          <h2 class="text-center font-size-title-img">3. <%= t("welcome.step3") %></h2>
          <p class="margin-left-20px font-size-desc-img"><%= t("welcome.step3_content") %></p>
        </div>
      </div>
    </div>
  </main>
<% end %>
