<% content_for :body_class, "home-page" %>
<% content_for :social_media_meta_tags do %>
  <% render "/shared/social_media_meta_tags", social_title: setting['org_name'], social_description: t("layouts.header.open_city_slogan_html")  %>
<% end %>
<% content_for :canonical do %>
  <%= render "shared/canonical", href: root_url %>
<% end %>
<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <% if Setting['enable_unique_image_banner'] == "true" %>
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    </ol>
  <% else %>
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
  <% end %>

  <!-- Wrapper for slides -->
  <% if Setting['enable_unique_image_banner'] == "true" %>
    <div class="carousel-inner">
      <div class="item active">
        <%= link_to ( image_tag(image_path_for('cabezal_decide.jpg'), alt: t("layouts.header.logo"), class: 'float-center')), polls_path %>
      </div>
    </div>
  <% else %>
    <div class="carousel-inner">
      <div class="item active">
        <%= link_to ( image_tag(image_path_for('banner_home_a.jpg'), alt: t("layouts.header.logo"), class: 'float-center')), root_path %>
      </div>
      <div class="item">
        <%= link_to ( image_tag(image_path_for('banner_home_b.jpg'), alt: t("layouts.header.logo"), class: 'float-center')), more_info_path %>
      </div>
      <div class="item">
        <%= link_to ( image_tag(image_path_for('montevideo_del_manana.jpg'), alt: t("layouts.header.logo"), class: 'float-center')), debates_path(search: 'Montevideo del mañana') %>
      </div>
    </div>
  <% end %>
</div>

<% if feature?("user.recommendations") && (@recommended_debates.present? || @recommended_proposals.present?) %>
  <%= render "recommended",
              recommended_debates: @recommended_debates,
              recommended_proposals: @recommended_proposals %>
  <hr>
<% end %>

<% cache [locale_and_user_status, @featured_debates, @featured_proposals, 'featured'] do %>
  <main>
    <div class="jumbo margin padding">
      <div class="row medium-11 large-10 small-10 small-centered margin padding" >
        <div class="small-12 medium-6 column text-center size-resp">
          <h1 class="h1-wellcome"><%= t("layouts.header.open_city_title") %></h1>
          <p class="black-color p-wellcome text-left">
            <%= t("layouts.header.open_city_slogan_html") %>
          </p>
          <div class="small-12 medium-8 large-7 text-left go-bot hide-for-small-only">
            <%= link_to t("welcome.welcome_button"), more_info_path, class: "button btn-grey expanded large" %>
          </div>
        </div>
        <div class="small-12 medium-6 column text-center">
        <p> <%= image_tag(image_path_for('Picto_convive_gde.png'), class: 'float-center', alt: t("welcome")) %> </p>
        <div class="small-12 medium-8 large-7 text-left go-bot show-for-small-only">
            <%= link_to t("welcome.welcome_button"), more_info_path, class: "button btn-grey expanded large" %>
        </div>
        </div>
      </div>
    </div>
     <div class="jumbo base-bg">
      <div class="row medium-10 large-10 small-centered">
        <div class="small-12 medium-12 large-3 column">
          <p> <%= image_tag(image_path_for('como_participar.png'), class: 'float-center', size: '200x200', alt: t("Globo_conversa")) %> </p>
        </div>
        <div class="small-12 medium-4 large-3 column">
          <p> <%= image_tag(image_path_for('picto_user_gde.png'), class: 'float-center', size: '100x100', alt: t("layouts.header.logo")) %> </p>
          <h2 class="text-center">1. <%= t("welcome.step1") %></h2>
          <p class="margin-left-20px"><%= t("welcome.step1_content") %></p>
        </div>
        <div class="small-12 medium-4 large-3 column">
          <p> <%= image_tag(image_path_for('picto_Sobre.png'), class: 'float-center', size: '100x100', alt: t("layouts.header.logo")) %> </p>
          <h2 class="text-center">2. <%= t("welcome.step2") %></h2>
          <p class="margin-left-20px"><%= t("welcome.step2_content") %></p>
        </div>
        <div class="small-12 medium-4 large-3 column">
          <p> <%= image_tag(image_path_for('picto_comparte.png'), class: 'float-center', size: '100x100', alt: t("layouts.header.logo")) %> </p>
          <h2 class="text-center">3. <%= t("welcome.step3") %></h2>
          <p class="margin-left-20px"><%= t("welcome.step3_content") %></p>
        </div>
      </div>
    </div>
  </main>
<% end %>
