<% content_for :body_class, "home-page" %>
<% content_for :social_media_meta_tags do %>
  <% render "/shared/social_media_meta_tags", social_title: setting['org_name'], social_description: t("layouts.header.open_city_slogan_html")  %>
<% end %>
<% content_for :canonical do %>
  <%= render "shared/canonical", href: root_url %>
<% end %>
<% if ((current_user.blank?) || (!current_user.blank? && session[current_user.id.to_s].blank?)) %>
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <% @headers.each_with_index do |header, index| %>
        <% if index == 0 %>
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <% else %>
          <li data-target="#myCarousel" data-slide-to="<%= index %>"></li>
        <% end %>
      <% end %>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      <% @headers.each_with_index do |header, index| %>
        <div class="item <%= 'active' if index == 0 %>">
          <%= image_tag header.image_url(:original), alt: t("layouts.header.logo"), class: 'float-center' %>

          <div class="column box-text">
            <h2 class="banner-title inline-h-0"><%= header.title%></h2>
            <div>
              <%= link_to header.link_text, header.link_url, class: 'banner-font' %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
<%end %>

<% cache [locale_and_user_status, @featured_debates, @featured_proposals, 'featured'] do %>
  <main>
    <% if @feed_proposal.active? || @feed_debate.active? %>
      <div class="jumbo m-bottom-0 p-bottom-0 proposals-home">
        <div class="row medium-11 large-10 small-10 small-centered" >
          <% if @feed_proposal.active? %>
            <div class="small-12 medium-6 column">
              <h3>Ideas más activas</h3>
              <% @feed_proposal.items.each do |proposal| %>
                <div class="column p-left-0 border-bottom-feed">
                  <div class="hide-for-small-only">
                    <% first_tag = proposal.tags.category.order("taggings.created_at").first %>
                    <% if first_tag && first_tag.image %>
                      <div class="medium-3 column m-bottom-5 p-left-0">
                        <%= image_tag first_tag.image_url(:original), alt: t("layouts.header.logo")%>
                      </div>
                    <% end %>
                  </div>
                  <div class="medium-9 column">
                    <h5 class="m-bottom-0"><%= link_to proposal.title, namespaced_proposal_path(proposal), class: "color-title-feed" %></h5>
                  </div>
                  <div class="medium-9 column proposal-description-home ">
                    <p class="text-left"><%= proposal.summary %></p>
                    <div class="truncate"></div>
                  </div>
                </div>
              <% end %>
              <div class="column show-for-small-only border-top-all-home">
                <%= link_to "Ver todas las ideas", proposals_path, class: "all-cards-home" %>
              </div>
            </div>
          <% end %>
          <% if @feed_debate.active? %>
            <div class="small-12 medium-6 column">
              <h3>Debates más activos</h3>
              <% count_debates = @feed_debate.items.count%>
              <% @feed_debate.items.each_with_index do |debate, index| %>
                <% if count_debates == (index + 1) %>
                  <h5 class="m-bottom-0 bottom-feed-debate"><%= link_to debate.title, debate, class: "color-title-feed" %></h5>
                <% else %>
                  <h5 class="m-bottom-0 border-bottom-debate bottom-feed-debate"><%= link_to debate.title, debate, class: "color-title-feed" %></h5>
                <% end %>
              <% end %>
            </div>
            <div class="column show-for-small-only">
              <hr class="debate-hr-mobile"/>
              <%= link_to "Ver todos los debates", debates_path, class: "all-cards-home" %>
            </div>
          <% end %>
        </div>
      </div>
      <div>
        <div class="row medium-11 large-10 small-10 hide-for-small-only border-top-all-home" >
          <% if @feed_proposal.active? %>
            <div class="small-12 medium-6 column">
              <div class="column p-left-0">
                <%= link_to "Ver todas las ideas", proposals_path, class: "all-cards-home" %>
              </div>
            </div>
          <% end %>
          <% if @feed_debate.active? %>
            <div class="small-12 medium-6 column">
              <div class="column">
                <hr class="debate-hr"/>
                <%= link_to "Ver todos los debates", debates_path, class: "all-cards-home" %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>

    <div class="jumbo margin">
      <% if @recommendation_is_active %>
        <div class="row medium-12 large-12 show-for-large margin ">
          <div class="large-12 column div-feature">
            <div class="small-2 medium-1 column">
              <%= image_tag(image_path_for('destacados-estrella.png'), class: 'float-center',  alt: t("layouts.header.logo")) %>
            </div>
            <div class="small-10 medium-11 column text-start">
              <h1 class="h1-wellcome">Novedades</h1>
            </div>
          </div>
          <% @recommendations.in_groups_of(3).each do |recommendations| %>
            <div class="row">
              <% recommendations.compact.each do |recommendation|%>
                <%= link_to recommendation.link_url, target: :blank do %>
                  <div class="large-4 medium-4 column float-left">
                    <p class="margin-img-2">
                      <%= image_tag recommendation.image_url(:original), alt: t("layouts.header.logo"), class: 'float-center' %>
                      <p class="text-feature-img"><%= recommendation.link_text%></p>
                    </p>
                  </div>
                <% end %>
              <% end %>
            </div>
          <% end %>
        </div>
        <div class="row medium-12 hide-for-large margin">
          <div class="column div-feature">
            <div class="small-2 medium-1 column">
              <%= image_tag(image_path_for('destacados-estrella.png'), class: 'float-center',  alt: t("layouts.header.logo")) %>
            </div>
            <div class="small-10 medium-11 column text-start">
              <h1 class="h1-wellcome">Destacados</h1>
            </div>
          </div>
          <div class="row">
            <% @recommendations.limit(3).each do |recommendation| %>
              <%= link_to recommendation.link_url, target: :blank do %>
                <div class="medium-4 column float-left">
                  <p class="margin-img-2">
                    <%= image_tag recommendation.image_url(:original), alt: t("layouts.header.logo"), class: 'float-center' %>
                    <p class="text-feature-img"><%= recommendation.link_text%></p>
                  </p>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
     <div class="jumbo base-bg">
      <div class="row medium-12 large-12 small-centered">
        <div class="show-for-large-only large-3 column color-img-1 height-div-below">
          <p>
            <%= image_tag(image_path_for('como_participar.png'), class: 'margin-top-20p float-center', size: '200x200', alt: t("Globo_conversa")) %>
          </p>
        </div>
        <div class="show-for-large-only large-3 column color-img-2 height-div-below">
          <p class="margin-img-2">
            <%= image_tag(image_path_for('picto_user_gde.png'), class: 'float-center', size: '100x100', alt: t("layouts.header.logo")) %>
          </p>
          <h2 class="text-center font-size-title-img">1. <%= t("welcome.step1") %></h2>
          <p class="margin-left-20px font-size-desc-img"><%= t("welcome.step1_content") %></p>
        </div>
        <div class="show-for-large-only large-3 column color-img-3 height-div-below">
          <p class="margin-img-2">
            <%= image_tag(image_path_for('picto_Sobre.png'), class: 'float-center', size: '100x100', alt: t("layouts.header.logo")) %>
          </p>
          <h2 class="text-center font-size-title-img">2. <%= t("welcome.step2") %></h2>
          <p class="margin-left-20px font-size-desc-img"><%= t("welcome.step2_content") %></p>
        </div>
        <div class="show-for-large-only large-3 column color-img-4 height-div-below">
          <p class="margin-img-2">
            <%= image_tag(image_path_for('picto_comparte.png'), class: 'float-center', size: '100x100', alt: t("layouts.header.logo")) %>
          </p>
          <h2 class="text-center font-size-title-img">3. <%= t("welcome.step3") %></h2>
          <p class="margin-left-20px font-size-desc-img"><%= t("welcome.step3_content") %></p>
        </div>
      </div>
    </div>
  </main>
<% end %>
